<div class="content">

  <div class="signup-content">

    <div class="inputs">

      <div class="input-field name">
        <input type="text" placeholder="Nome">
      </div>

      <div class="input-field email">
        <input type="text" placeholder="Email">
      </div>

      <div class="input-field phone">
        <input type="text" placeholder="Telefone">
      </div>

    </div>

    <div class="checks">

      <div class="notifications">
        <input type="checkbox">
        Quero receber notificações
      </div>

      <div class="terms">
        <input type="checkbox">
        Li e aceito os termos de uso
      </div>

    </div>

  </div>

  <div class="footer">

    <div class="button-submit" (click)="openModal()">
      <button>Finalizar cadastro</button>
    </div>

  </div>

</div>
